#custom-nav-links {
  color: #222222;
}

#custom-nav-links:hover {
  color: #ffffff;
}
#custom-nav-links:active {
  color: #666666;
}

.flex-auto {padding: 2.5rem 0rem;}
.text-3xl {font-weight: bold;}
