---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
import '@/styles/globals.css'
import '@/styles/custom.css'

---

<BaseLayout
  title="New Tab"
  description="_blank"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Hello, User <br class="hidden sm:inline" />
      </h1>
      <p class="max-w-[700px] text-md text-muted-foreground">
        I am driven and passionate about safeguarding people's privacy, security, and well-being.
        I enjoy working with technology, analyzing and solving complex problems.</p>
      <p class="max-w-[700px] text-sm text-muted-foreground" style="color:#333">
        My interests include #cybersecurity, #cloudsecurity, #counterintelligence, #threatintelligence, #threatanalysis, #securityoperations, and #homelandsecurity.
      </p>
    </div>
    <div class="flex gap-4">
      <!--<a
        href="#"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants()}
      >
        DNA
      </a>-->
      <a
        href="mailto:chad.hatala@gmail.com"
        target="_blank"
        rel="noreferrer"
        class={buttonVariants({ variant: 'outline' })}
      >
        SMTP
      </a>
    </div>
  </section>
</BaseLayout>
